@font-face {
  font-family: myFirstFont;
  src: url(./assets/Whyte-Book.ttf);
}

#myCanvas {
  width: 100vw;
  height: 100vh;
  border: 1px black solid;
  background-color: #000000;
  /* background: transparent; */
  position: absolute;
  z-index: -10;
}

#canvasBlob {
  width: 100vw;
  height: 100vh;
  border: 10px black solid;
  position: absolute;
  z-index: 10;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  right: 0
}



.data {
  width: 500px;
  position: absolute;
  bottom: 5%;
  margin-left: 50%;
  margin-right: 50%;
  z-index: 50;

}


#data1{
  color: #ffffff;
  z-index: 50;
  text-align: center;
  position: relative;
  right: 50%;
  margin-bottom: 0%;
  font-size: 2.8vh;
  font-family: myFirstFont;
}



.divistru{
  width: 1000px;
  height: 250px;
  position: absolute;
  bottom: 50%;
  top: 50%;
  margin-left: 50%;
  margin-right: 50%;
  z-index: 50;

}


#istruzione {
  color: #ffffff;
  z-index: 50;
  text-align: center;
  position: relative;
  right: 50%;
  top: 50%;
  margin-top: -125px;
  font-size: 6vh;
  font-family: myFirstFont;
}

#saluto {
  color: #ffffff;
  z-index: 50;
  text-align: center;
  position: relative;
  right: 50%;
  top: 50%;
  margin-top: -125px;
  font-size: 6vh;
  font-family: myFirstFont;
}


#istruzpiccola {
  color: #ffffff;
  width: 500px;
  z-index: 50;
  text-align: center;
  position: absolute;
  right: 50%;
  top: 90%;
  margin-right: -250px;
  margin-bottom: 0%;
  font-size: 3.1vh;
  font-family: myFirstFont;
}

.intro{
  width: 500px;
  height: 400px;
  color: #ffffff;
  z-index: 50;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -80px;
  font-size: 10vh;
  letter-spacing: 10px;
  font-family: myFirstFont;
}

#conferma{
  width: 500px;
  height: 250px;
  position: absolute;
  top: 90%;
  right: 50%;
  margin-right: -250px;
  margin-top: -125px;
  display: none;
}

#si{
width: 100px;
height: 50px;
position: absolute;
right: 50%;
bottom: 40%;
z-index: 50;
margin-right: 80px;
background: black;
border: 2px solid white;
color: white;
font-size: 2.5vh;
font-family: myFirstFont;
border-radius: 10px;
}


#no{
width: 100px;
height: 50px;
position: absolute;
right: 50%;
bottom: 40%;
z-index: 50;
margin-right: -180px;
background: black;
border: 2px solid white;
color: white;
font-size: 2.5vh;
font-family: myFirstFont;
border-radius: 10px;
}

#chiediconferma{
  color: #ffffff;
  width: 500px;
  z-index: 50;
  text-align: center;
  position: relative;
  right: 50%;
  left: 50%;
  top: 5%;
  margin-right: -250px;
  margin-left: -250px;
  font-size: 3.1vh;
  font-family: myFirstFont;
}

#picto1{
  height: 8vh;
  width: 8vh;
  position: absolute;
  z-index: 70;
  left: 2vw;
  bottom: 4vw;
}

#click1{
  display: block;
  height: 14vh;
  width: 9vh;
  position: absolute;
  z-index:70;
  left: 2vw;
  bottom: 3vh;

}


#home {
  color: #ffffff;
  z-index: 70;
  display: block;
  font-size: 2.5vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: myFirstFont;
  position: absolute;
  left: 2vw;
  bottom:1vw;

}
