@font-face {
  font-family: myFirstFont;
  src: url(./assets/whyteBook.otf);
}

#myCanvas{
  width: 100vw;
  height: 100vh;
  border: 1px black solid;
  background-color: #000000;
  /* background: transparent; */
  position: absolute;
  z-index: -10;

}

#canvasBlob{
  width: 100vw;
  height: 100vh;
  border: 10px black solid;
  position: absolute;
  z-index:10;
  filter: blur(40px);
-webkit-filter: blur(40px);

  right:0

}


#nome {
  color: #ffffff;
  position: absolute;
  z-index: 10;
  display: block;
  font-size: 3vh;
  /* margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  left: 2vw;
  top: 1vw;
font-family: myFirstFont;

}

#data {
  color: #ffffff;
  z-index: 10;
  display: block;
  font-size: 3vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: absolute;
  right: 2vw;
  top:1vw;
font-family: myFirstFont;
}


#posizione {
  color: #ffffff;
  z-index: 10;
  display: block;
  font-size: 3vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: absolute;
  right: 2vw;
  bottom:1vw;
font-family: myFirstFont;
}


#home {
  color: #ffffff;
  z-index: 10;
  display: block;
  font-size: 2.5vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: myFirstFont;
  position: absolute;
  left: 2vw;
  bottom:1vw;

}

#nucleo {
  color: #ffffff;
  z-index: 10;
  display: block;
  font-size: 2.5vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: absolute;
  left: 8vw;
  bottom:1vw;
  font-family: myFirstFont;
}

#attivita {
  color: #ffffff;
  z-index: 10;
  display: block;
  font-size: 2.5vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: absolute;
  left: 14vw;
  bottom:1vw;
  font-family: myFirstFont;

}


#picto1{
  height: 8vh;
  width: 8vh;
  position: absolute;
  z-index: 10;
  left: 2vw;
  bottom: 4vw;
}

#picto2{
  height: 8vh;
  width: 8vh;
  position: absolute;
  z-index: 10;
  left: 8vw;
  bottom: 4vw;
}

#picto3{
  height: 8vh;
  width: 8vh;
  position: absolute;
  z-index: 10;
  left: 14vw;
  bottom: 4vw;
}

#click1{
  display: block;
  height: 14vh;
  width: 9vh;
  position: absolute;
  z-index: 20;
  left: 2vw;
  bottom: 3vh;

}

#click2{
  display: block;
  height: 14vh;
  width: 9vh;
  position: absolute;
  z-index: 20;
  left: 8vw;
  bottom: 3vh;

}

#click3{
  display: block;
  height: 14vh;
  width: 9vh;
  position: absolute;
  z-index: 20;
  left: 14vw;
  bottom: 3vh;
}
